.logo-text {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #fff;
}

.deals-scroller {
    background-color: #001f3f;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.deals-scroller figure {
    padding: 10px;
}
