{% extends "base.html" %}

{% block content %}
<div class="font-comfortaa font-bold text-4xl mt-4 mx-2">checkout</div>
<div class="text-2xl font-bold mt-2 mx-2">Hotel Room Information</div>
<div class="font-bold text-xl mt-2 mx-2 md:mx-4">{{ hotel['name'] }}</div>
<div class="mt-2 mx-2 md:mx-4">{{ session['dates'][0].strftime('%B %-d') }} - {{ session['dates'][1].strftime('%B %-d') }}</div>
<div class="mt-2 mx-2 md:mx-4">{{ hotel['rate']['room_type'] }}</div>
<div class="mt-2 mx-2 md:mx-4">
    {% if hotel['rate']['is_winter_rate'] %}
      <p>${{ hotel['rate']['winter_rate'] }}/night&nbsp;<span class="text-xs mb-2">(${{ hotel['rate']['winter_total'] }} total)</span></p>
    {% else %}
      <p>${{ hotel['rate']['summer_rate'] }}/night&nbsp;<span class="text-xs mb-2">(${{ hotel['rate']['summer_total'] }} total)</span></p>
    {% endif %}
</div>
<div class="text-2xl font-bold mt-2 mx-2">Guest Information</div>
<section class="personal-info md:ml-4 mt-2">
      <div class = "flex flex-col md:flex-row md:items-center mt-2 mx-2">
        <div class="md:basis-1/12">
            <label for="name" class="font-bold mr-2">Name:</label>
        </div>
        <div class="w-full md:w-72 border rounded p-2 mb-2 md:mr-2 md:mb-0 focus-within:border-travelgold">
            <i class="bi bi-person-fill text-travelnavy mr-1"></i>
            <input type="text" id="name" name="name" class="focus:outline-none" value="Jane Bambi"
                _="on input set #signature.innerText to my value set #customer-name.innerText to my value">
        </div>
      </div>

      <div class = "flex flex-col md:flex-row md:items-center mt-2 mx-2">
        <div class="md:basis-1/12">
            <label for="email" class="font-bold mr-2">Email:</label>
        </div>
        <div class="w-full md:w-72 border rounded p-2 mb-2 md:mr-2 md:mb-0 focus-within:border-travelgold">
            <i class="bi bi-envelope-fill text-travelnavy mr-1"></i>
            <input type="email" id="email" name="email" class="focus:outline-none" value="jane.bambi@example.com">
        </div>
      </div>

      <div class = "flex flex-col md:flex-row md:items-center mt-2 mx-2">
        <div class="md:basis-1/12">
            <label for="phone" class="font-bold mr-2">Phone:</label>
        </div>
        <div class="w-full md:w-72 border rounded p-2 mb-2 md:mr-2 md:mb-0 focus-within:border-travelgold">
            <i class="bi bi-telephone-fill text-travelnavy mr-1"></i>
            <input type="text" id="phone" name="phone" class="focus:outline-none" value="312-555-5555">
        </div>
      </div>

      <div class = "flex flex-col md:flex-row md:items-center mt-2 mx-2">
        <div class="md:basis-1/12">
            <label for="address" class="font-bold mr-2">Address:</label>
        </div>
        <div class="w-full md:w-72 border rounded p-2 mb-2 md:mr-2 md:mb-0 focus-within:border-travelgold">
            <i class="bi bi-house-door-fill text-travelnavy mr-1"></i>
            <input type="text" id="address" name="address" class="focus:outline-none" value="123 Main St">
        </div>
      </div>
  </section>

<div class="text-2xl font-bold mt-2 mx-2">Credit Card Information</div>
<section class="credit-card bg-slate-500 rounded-lg mx-2 md:mx-0 md:w-96 h-60 flex flex-col py-2 mt-2">
    <div class="mx-auto text-white text-lg">Credit Card</div>
    <div class="h-5 bg-black w-full mb-1"></div>
    <div class="h-1 bg-black w-full mb-3"></div>
    <div class = "flex flex-row">
        <div>
            <div class="h-9 bg-white w-48 ml-3 mb-1 pl-2 pt-1 font-alexbrush text-travelblue text-2xl" id="signature">
                Jane Bambi
            </div>
            <div class="ml-3 text-white text-xs mb-4">AUTHORIZED SIGNATURE</div>
        </div>
        <div class="uppercase text-white ml-auto pr-4">
            <span class="text-xs">Good Thru</span>
            <br/>
            <span class="font-bold">11/24</span>
        </div>
    </div>
    <div class="flex flex-row">
        <div>
            <div class="uppercase text-white ml-5" id="customer-name">Jane Bambi</div>
            <div class="uppercase text-white ml-5">4111 1111 1111 1111</div>
            <div class=" text-white ml-5">
                <span class="text-xs">Security Code</span>
                &nbsp;
                <span class="font-bold">123</span>
            </div>
        </div>
        <div class="ml-auto pr-12">
            <i class="bi bi-wifi text-travelgold text-2xl mr-1"></i>
        </div>  
    </div>
</section>

<section class="book mt-2 w-full pr-2 md:pr-0 md:w-96 text-right">
    <form action="/complete-booking" method="POST">
        <button type="submit" name="action" value = "book" class="bg-travelblue text-white px-4 py-2 rounded-md">
            Book Now
        </button>
        <button type="submit" name="action" value = "cancel" class="bg-red-500 text-white px-4 py-2 rounded-md">
            Cancel
        </button>
      </form>
</section>
{% endblock %}
