<div class="w-full md:w-72 border rounded p-2 mb-2 md:mr-2 md:mb-0 focus-within:border-travelgold">
    <input type="text" name="amenities_input" id="amenities_input" class="focus:outline-none" placeholder="Amenities..." 
        list="amenities"/>
    <datalist id="amenities">
        {% for amenity in amenities %}
        <option value="{{ amenity }}"></option>
        {% endfor %}
    </datalist>
    <i class="bi bi-funnel-fill text-travelnavy cursor-pointer float-right" hx-post="/add-amenity" 
        hx-trigger="click, keyup[key=='Enter'] from:#amenities_input"
        hx-include="#amenities_input"
        hx-target="#amenities_filter"></i>
</div>

<div class="mb-4 md:mb-0">
{% for amenity in filtered_amenities %}
    <form method="POST">
        <i class="bi bi-x-circle-fill text-red-500 cursor-pointer" hx-trigger="click" hx-post="/remove-amenity" 
            hx-target="#amenities_filter"></i>
        <input type="hidden" name="amenity_{{ amenity }}" value="{{ amenity }}">
        <span>{{ amenity }}</span>
    </form>
{% endfor %}
</div>
