{% extends 'base.html' %}

{% block content %}
<form action="/search" method="GET" class = "max-w-xs md:max-w-lg mx-auto flex p-6 rounded-lg shadow-xl mt-6 border border-travelnavy">
    <input type="text" name="query" class="w-full border rounded p-2 mr-2 focus:outline-none focus:border-travelgold"
        placeholder="e.g. Chicago to New York May 1-7" />
    <button class="bg-travelnavy text-white rounded p-2">
        <i class = "bi bi-search"></i>
    </button>
</form>

<section class="w-4/5 mx-auto mt-6">
    <div class="mt-2 mb-1 font-comfortaa font-bold text-4xl">featured destinations</div>
    <div class="h-72 md:h-96 border-8 rounded-2xl border-travelnavy overflow-x-scroll whitespace-no-wrap flex 
        flex-row p-2">
        <div class="w-72 md:w-96 h-full p-2 relative flex-shrink-0 border-4 border-black rounded mx-2">
            <div class="bg-gray-200 w-full h-5/6">
                <img class="w-full h-full object-cover" 
                src="https://images.unsplash.com/photo-1590523741831-ab7e8b8f9c7f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="The Maldives"/>
            </div>
            <div class="p-2 w-full h-1/6 text-right">The Maldives</div>
        </div>
        <div class="w-72 md:w-96 h-full p-2 relative flex-shrink-0 border-4 border-black rounded mx-2">
            <div class="bg-gray-200 w-full h-5/6">
                <img class="w-full h-full object-cover" 
                src="https://images.unsplash.com/photo-1600208537475-6cdbf234ca5d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="Trinidad and Tobago"/>
            </div>
            <div class="p-2 w-full h-1/6 text-right">Trinidad and Tobago</div>
        </div>
        <div class="w-72 md:w-96 h-full p-2 relative flex-shrink-0 border-4 border-black rounded mx-2">
            <div class="bg-gray-200 w-full h-5/6">
                <img class="w-full h-full object-cover" 
                src="https://images.unsplash.com/photo-1600255821058-c4f89958d700?q=80&w=2042&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="Sri Lanka"/>
            </div>
            <div class="p-2 w-full h-1/6 text-right">Sri Lanka</div>
        </div>
        <div class="w-72 md:w-96 h-full p-2 relative flex-shrink-0 border-4 border-black rounded mx-2">
            <div class="bg-gray-200 w-full h-5/6">
                <img class="w-full h-full object-cover" 
                src="https://images.unsplash.com/photo-1621789097689-511e97f099e1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="Kerala"/>
            </div>
            <div class="p-2 w-full h-1/6 text-right">Kerala</div>
        </div>
        <div class="w-72 md:w-96 h-full p-2 relative flex-shrink-0 border-4 border-black rounded mx-2">
            <div class="bg-gray-200 w-full h-5/6">
                <img class="w-full h-full object-cover" 
                src="https://images.unsplash.com/photo-1600273970168-c3db62dcf905?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                alt="Honduras"/>
            </div>
            <div class="p-2 w-full h-1/6 text-right">Honduras</div>
        </div>
    </div>
</section>
{% endblock %}
