{% extends "base.html" %}
{% import "star_rating.html" as star_rating %}

{% block content %}
  <main class="container mx-auto p-4 flex">
    <!-- Left gutter-->
    <div class="basis-1/6"></div>
    <div>
    <section class="bg-white rounded-md shadow-md p-8 mb-4">
      <h2 class="text-lg md:text-2xl font-bold">{{ hotel['name'] }} 
        ({{ hotel['dates'][0].strftime('%B %-d') }} - {{ hotel['dates'][1].strftime('%B %-d') }})</h2>
        <div>
          {{ star_rating.star_rating(hotel['star_rating'] | int) }}
      </div>
      <p class="text-sm md:text-md mb-4 md:mb-2">{{ hotel['description'] }}</p>
      <p class="text-sm">{{ hotel['address'] }}, {{ hotel_location[1] }}</p>
    <div class="flex mt-4">
      <div class="rounded-md overflow-hidden mr-4">
        <img src="{{ url_for('static', filename='images/{}/{}/ext.png'.format(hotel['location'],hotel['image'])) }}" 
            class="object-cover h-full w-full max-w-full aspect-square" 
            alt="{{ hotel['name'] }}_ext"/>
        </div>
        <div class="rounded-md overflow-hidden">
          <img src="{{ url_for('static', filename='images/{}/{}/int.png'.format(hotel['location'],hotel['image'])) }}" 
              class="object-cover h-full w-full max-w-full aspect-square" 
              alt="{{ hotel['name'] }}_int"/>
          </div>
    </div>
    </section>
    <section class="p-4 mt-4">
      <h2 class="text-2xl font-bold mx-4 mb-4">Room Rates</h2>
      <div class="flex flex-wrap mx-4">
        {% for rate in hotel['rates'] %}
        <div class="w-full md:w-1/3 px-4 mb-4 border shadow-md m-1 rounded-lg">
          <h3 class="text-lg font-bold my-2">{{ rate['room_type'] }}</h3>
          <img src="{{ url_for('static', filename='images/room_rates/{}.png'.format(rate['image'])) }}" 
            alt="{{ rate['room_type'] }}" class="object-cover mb-4 rounded-md aspect-square">
          <div class="flex justify-between items-top">
            <div>
            {% if rate['is_winter_rate'] %}
              <p class="font-bold text-lg">${{ rate['winter_rate'] }}/night</p>
              <p class="text-xs mb-4">${{ rate['winter_total'] }} total</p>
            {% else %}
              <p class="font-bold text-lg">${{ rate['summer_rate'] }}/night</p>
              <p class="text-xs mb-4">${{ rate['summer_total'] }} total</p>
            {% endif %}
            </div>
            <div>
              <button type="submit" class="bg-travelblue text-white px-4 py-2 rounded-md">
                Book Now
              </button>
            </div>
          </div>
          
          <p class="text-sm">{{ rate['room_description'] }}</p>
          <h4 class="text font-bold text-travelslate mt-2">Amenities</h4>
          <ul class="list-disc m-4 p-0 md:flex md:flex-wrap">
            {% for amenity in rate['amenities'] %}
            <li class="md:w-1/2 text-sm">{{ amenity }}</li>
            {% endfor %}
          </ul>
          <p class="text-sm mt-2 mb-4"><span class="font-bold text-travelslate">Cancellation Policy:</span>
            {{ rate['cancellation_policy'] }}</p>
        </div>
        {% endfor %}
      </div>
    </section>
    </div>
    <!-- Right gutter -->
    <div class="basis-1/6"></div>
  </main>
{% endblock %}
