{% import "star_rating.html" as star_rating %}

{% macro hotel_search_card(hotel) %}
<div class="bg-white rounded-lg shadow-md border-2 p-4 border-gray-200 h-60 mb-2">
    <div class="flex">
        <div class="w-1/3">
            <div class="rounded-md overflow-hidden h-3/4 w-3/4 max-w-3/4">
            <img src="{{ url_for('static', filename='images/{}/{}/ext.png'.format(hotel['location'],hotel['image'])) }}" 
                class="object-cover h-full w-full max-w-full" 
                style="aspect-ratio: 1/1;"
                alt="Chicago at night."/>
            </div>
        </div>
        <div class="w-2/3 flex flex-col">
            <h2 class="text-xl font-bold mt-2 mb-2">{{ hotel['name'] }}</h2>
            <div class="flex w-full justify-between">
                <div>
                    {{ star_rating.star_rating(hotel['star_rating'] | int) }}
                </div>
                <div>{{ hotel['distance'] }} miles</div>
            </div>  
            <p class="text-travelslate mb-2"><span class="font-bold">Description:</span> {{ hotel['description'] }}</p>
            <p class="text-travelslate mb-2 mt-4 font-bold text-right">
                {% if hotel['lead_rate'] %}
                ${{ hotel['lead_rate'] }}/night
                {% else %}
                RATE UNAVAILABLE
                {% endif %}
            </p>
        
            <form action="/hotel-details" method="POST" class="place-self-end max-w-fit">
            <input type="hidden" name="hotel_id" value="{{ hotel['id'] }}"/>
            <button type="submit" class="bg-travelblue text-white px-4 py-2 rounded-md">
                Book Now
            </button>
            </form>
        </div>
    </div>
</div>
{% endmacro %}
