{% extends "base.html" %}

{% block content %}
<div class="mx-auto my-4 w-max border-8 border-travelnavy rounded-lg">
<svg class="w-80 h-[700px]">
  <path d="M10,275 Q155,-250 310,275" class="stroke-slate-300 fill-slate-300"  />
  <path d="M12,275 12,375" class="stroke-slate-300 stroke-[4px]" />
  <path d="M308,275 308,375" class="stroke-slate-300 stroke-[4px]" />
  {% for i in range(5) %}
  <a href="/">
  <rect x="{{ 30 + i*35 }}" y="290" width="30" height="30" rx="5" class="stroke-travelnavy" />
  <rect x="{{ 32 + i*35 }}" y="312" width="26" height="4"  rx="1" class="stroke-white fill-none" />
  </a>
  {% endfor %}
</svg>
{% endblock %}